* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
	height: 100vh;
	display: flex;
	justify-content: space-around;
	font-family: "Abel", sans-serif;
	font-size: 1.2rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.4);
	justify-content: space-around;
	padding: 1rem;
	/* min-height: 70vh; */
	height: 70vh;
	width: 75%;
	align-items: center;
	margin-top: 100px;
	border-radius: 10px;
}

.wrapper a {
  text-decoration: none;
  
}

button {
	/* margin: 5px; */
	padding: 5px;
	width: 200px;
	font-family: "Abel", sans-serif;
	font-size: 1.4rem;
	border-radius: 3px;
	background: whitesmoke;
	outline: none;
	margin-top: 5px;
}

button:hover {
	background: rgba(245, 245, 245, 0.452);
}

.question {
	/* background-color: blueviolet; */
	font-size: 2rem;
	height: 100px;
	display: grid;
	align-content: center;
}

.share_bar_hidden {
	visibility: hidden;
	/* background-color: yellowgreen; */
	/* display: none; */
}

.share_bar_visible {
	display: flex;
	justify-content: center;
	/* background-color: violet; */
}

.icon_wrapper {
	display: flex;
	justify-content: space-around;
	/* background-color: crimson; */
	width: 200px;
}

@media (min-width: 768px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.4);
		justify-content: space-around;
		padding: 0.5rem;
		height: 50vh;
		width: 75%;
		align-items: center;
		margin-top: 100px;
	}
	/* .wrapper h1 {
		font-size: 1rem;
	} */
}
